
/*============================ NOTIFICATION FORMATING =======================*/

.notification {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateY(800%) translateX(40px) rotate(90deg);
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px;
    opacity: 0.5;
    white-space: nowrap;
    z-index: 999;
  }
  .notification:hover {
    opacity: 1;
  }
  .notication-div {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: 0;
    max-width: 250px;
    min-height: 200px;
    transform: translateY(150%) translateX(100%);
    background-color: rgb(223, 221, 221);
    color: var(--white-color);
    padding: 10px;
    opacity: 0;
    z-index: 999;
    transition: all 0.4s ease-in-out;
    border: 1px solid var(--primary-color);
  }
  
  .notication-div.visible-div {
    opacity: 1;
    transform: translateY(150%) translateX(-30%);
  }
  .notication-div p {
    font-size: 20px;
  }
  .notication-div .box {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 30%;
    right: -1rem;
    transform: rotate(-45deg);
    border-radius: 0;
    background-color: rgb(223, 221, 221);
    z-index: -999;
  }