/*=============== GOOGLE FONTS ===============*/

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --primary-color: #0084c8;
  --secondary-color: #4d4bb8;
  --black-color: #0e232eff;
  --black-color-light: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 95%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: #fff;
  --container-color: hsl(0, 0%, 83%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  /* --body-font: "IBM Plex Sans", sans-serif; */
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: var(--body-font); */
  font-size: var(--normal-font-size);
  /* background: linear-gradient(to top, #e0f2f1, #ffffff); */
  background-color: #fff;
  color: var(--text-color);
  transition: background-color 0.4s;
}

h1,
h2,
h3,
h4 {
  color: var(--black-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*==================== NAVBAR FORMATTING =====================*/

.nav-socials {
  display: flex;
  background-image: url(../Assets/nav-background.png);
  background-repeat: no-repeat;
  justify-content: space-between;
  place-items: center;
  color: var(--black-color);
  padding: 0.7rem 1.5rem;
  color: var(--white-color);
  font-size: 18px;
  overflow: hidden;
}
.primary-info {
  display: flex;
  column-gap: 0.5rem;
}
.primary-info p i {
  margin-right: 0.25rem;
  transform: rotateY(180deg);
}
.platforms {
  display: flex;
}
.platforms i {
  margin-left: 0.5rem;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 5px;
  z-index: 99;
  position: relative;
}
.platforms i::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -99;
  opacity: 0.7;
  scale: 0;
  background-color: var(--secondary-color);
  transition: all 0.4s;
}
.platforms i:hover {
  color: #fff;
}
.platforms i:hover::after {
  scale: 1;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding: 0.25rem 1.5rem;
}
.nav-logo img {
  width: 15rem;
}

/* .links ul{
  display: flex;
  column-gap: 1rem
} */
.links ul li {
  /* font-weight: var(--font-semi-bold); */
  position: relative;
  letter-spacing: 1px;
}
.links ul li a {
  font-size: 18px;
  /* color: var(--black-color); */
  transition: color 0.4s ease-in-out;
}
.links ul li a:hover {
  color: var(--primary-color);
}
.links ul li a::before {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 2px;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: all 0.4s;
}
.active {
  color: var(--primary-color);
}

.custom-link {
  color: var(--black-color-light);
}

.active-link {
  color: var(--primary-color);
}

.active::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 2px;
  bottom: 0;
  left: 0;
  width: 30%;
  transition: all 0.4s;
}
.links ul li:hover .hover-bottom::before {
  width: 40%;
}
.responsive {
  display: none;
}

.navButton {
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--white-color);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: var(--font-semi-bold);
}

.navButton:hover {
  background: linear-gradient(
    -45deg,
    var(--primary-color),
    var(--secondary-color)
  );
}

/*======================== HOME CONTAINER FORMATTING ===================*/
.home-container {
  width: 100%;
}
.showcase{
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  padding: 2rem 6rem 2rem 2rem;
  gap: 0rem;
}
.discount {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
.discount img {
  height: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
}
.discount p {
  display: flex;
}
.discount p span {
  color: var(--primary-color);
  font-weight: 600;
}
.main-text {
  margin: 1rem 0;
}
.main-text h1 {
  font-size: 72px;
  margin-bottom: 1rem;
  color: var(--black-color);
  line-height: 80px;
}
.main-text .tagline {
  font-size: 20px;
  margin-bottom: 1rem;
  color: var(--text-color);
  max-width: 70%;
}
.main-text .typing{
  display: flex;
  column-gap: .5rem;
  font-size: 25px;
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
}
.main-text .typing span {
  color: var(--secondary-color);
}

.hero-clients{
  display: flex;
  flex-direction: column;
}

.hero-clients {
  font-size: 20px;
  color: var(--black-color);
}

.hero-client-wrapper {
  display: flex;
}

.hero-client-wrapper .client-item{
  height: 60px;
  width: 60px;
  background-color: lightblue;
  border-radius: 50%;
  border: 2px solid var(--white-color);
}
.hero-client-wrapper .client-item:nth-child(2) {
  transform: translateX(-1rem);
}
.hero-client-wrapper .client-item:nth-child(3) {
  transform: translateX(-2rem);
}
.hero-client-wrapper .client-item:nth-child(4) {
  transform: translateX(-3rem);
}
.hero-client-wrapper .client-item:nth-child(5) {
  transform: translateX(-4rem);
  display: flex;
  justify-content: center;
  place-items: center;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: var(--font-bold);
}

.hero-client-wrapper .client-item img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}


.home-image{
  position: relative;
  min-height: 600px;
  background: linear-gradient(to top, rgba(0, 132, 200,0.3), #fff);
  border-radius: 20px;
}
.hero-image-span {
  background-color: #fff;
  height: 180px;
  width: 250px;
  position: absolute;
  top: 0;
  left: -2rem;
  z-index: 5;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
  animation: rock 3s ease-in-out infinite; /* Apply animation */
}
.hero-image-span-title {
  display: flex;
  flex-direction: column;
}
.hero-image-span-title h3  {
  font-size: 12px;
  color: rgb(110, 160, 177);
}

.hero-image-span-title h1 {
  font-size: 20px;
  font-weight: var(--font-semi-bold);
}

.hero-image-span-metrices {
  display: flex;
  justify-content: space-around;
  place-items: center;
  padding-right: 1rem;
}
.hero-image-span-metrices p{
  font-size: 30px;
  font-weight: var(--font-bold);
  color: var(--primary-color);
}

.hero-image-span-metrices i {
  /* background-color: red; */
  font-size: 30px;
  color: var(--primary-color);
}

.hero-image-span-metrices h6 {
  font-weight: var(--font-bold);
  color: green;
}

.hero-image-span-image img{
  max-height: 200px;
  margin-top: 1rem;
  bottom: 0;
  transform: translateY(2rem);
}


.home-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-image-span-2 {
  background-color: #fff;
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  z-index: 5;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  column-gap: 1rem;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
  animation: rock 3s ease-in-out infinite; /* Apply animation */
}
.hero-image-title-2 h1 {
  font-size: 20px;
  font-weight: var(--font-bold);
  color: var(--primary-color);
}
.hero-image-span-info-2,
.hero-image-span-info-2 h3{
  color: green;
}

@keyframes rock {
  0% {
    transform: translateY(0); /* Start position */
  }
  50% {
    transform: translateY(-10px); /* Mid position - move up */
  }
  100% {
    transform: translateY(0); /* End position - return to start */
  }
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem 1.5rem;
  margin: 2rem 0;
}
.card {
  /* border: 2px solid #000; */
  padding: 1rem;
  transition: background-color 0.4s;
  border-bottom: 4px solid var(--primary-color);
}
.card:hover {
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--white-color);
}
.card-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 0.125rem;
  margin-bottom: 1rem;
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
}
.card-title i {
  font-size: 25px;
  position: relative;
}
.card-title::before {
  content: "";
  background-color: var(--primary-color);
  height: 20px;
  width: 20px;
  position: absolute;
  top: -5px;
  left: -5px;
}
.card p {
  margin-top: 4rem;
}

/*=================================== ABOUT FORMATTING ==============================*/
.about-us {
  margin: 1rem 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  padding: 1rem;
  background-color: lightblue;
  border-radius: 10px;
  border-right: 4px solid var(--primary-color);
}
.about-us img {
  /* height: 500px; */
  border-radius: 10px;
}
.about-boxes {
  margin: 0 1rem;
  padding: 0.5rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}
.about-boxes i {
  font-size: 25px;
}
.box {
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  place-items: center;
  font-size: 15px;
  color: var(--white-color);
}
.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
  padding: 1rem 2rem 1rem 0;
}
.about-info h3 {
  font-size: 20px;
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}
.about-info h1 {
  font-size: 62px;
  line-height: 60px;
  color: var(--black-color);
}
.about-info p {
  font-size: 16px;
}
.about-info .about-button {
  display: flex;
  column-gap: 1rem;
}
.about-info .about-button a {
  font-size: 20px;
  color: var(--black-color);
  background-color: bisque;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}
.about-info .about-button a i {
  transform: rotate(-40deg);
  transition: all 0.4s ease-in-out;
}
.about-info .about-button a:hover i {
  transform: rotate(0deg);
}

/*============================== Services Formatting ==========================*/
.services {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
.services .service-header h3 {
  font-size: 20px;
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}
.services .service-header h1 {
  font-size: 62px;
  line-height: 60px;
  color: var(--black-color);
}
.service-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 3rem 4rem;
}
.service-card {
  background-color: lightblue;
  padding: 4rem 2rem;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.service-card img {
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease-in-out;
}
.service-logo i {
  font-size: 40px;
}
.service-ifo h1 {
  font-size: 30px;
  margin-top: 1rem;
  font-weight: var(--font-semi-bold);
}
.service-ifo p {
  margin-bottom: 1rem;
}
.service-buttons {
  display: flex;
  place-items: center;
  transition: all 0.4s ease-in-out;
}
.service-buttons a {
  margin-left: 0rem;
  font-size: 20px;
  font-weight: var(--font-semi-bold);
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.4s;
}
.active-card {
  height: 500px;
  background-color: #0e232eff;
  color: var(--white-color);
}

.active-card .service-ifo h1 {
  color: var(--white-color);
}
.active-card .service-buttons i {
  border: 4px solid var(--white-color);
  padding: 1rem;
  border-radius: 50%;
}
.service-card:hover{
  /* height: 500px; */
  background-color: #0e232eff;
  color: var(--white-color);
}
.service-card:hover img {
  height: 150px;
}
.service-card:hover a {
  opacity: 1;
  margin-left: 2rem;
}
.service-card:hover .service-buttons i {
  border: 4px solid var(--white-color);
  padding: 1rem;
  border-radius: 50%;
}
.service-card:hover .service-ifo h1 {
  color: var(--white-color);
}

/*======================== MOBILE & WORDPRESS FORMATTING ===========================*/
.mobile-wordpress {
  background-color: lightblue;
  width: 100%;
  margin: 2rem 0;
  overflow: hidden;
  padding: 2rem 3rem;
}
.mobile,
.wordpress {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
}
.mobile .mobile-image img,
.wordpress .wordpress-image img {
  height: 400px;
}
.mobile .mobile-info,
.wordpress-info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 500px;
}
.mobile .mobile-info h1 {
  font-size: 30px;
  color: var(--black-color);
  transform: translateX(-40px);
}
.wordpress .wordpress-info h1 {
  font-size: 30px;
  color: var(--black-color);
}
.mobile .mobile-info .quality i,
.wordpress .wordpress-info .quality i {
  border: 2px solid green;
  padding: 5px;
  border-radius: 50%;
  background-color: green;
  color: var(--white-color);
}
.mobile .mobile-info .quality p,
.wordpress .wordpress-info .quality p {
  transform: translateX(40px);
}
.mobile .mobile-info .mobile-buttons,
.wordpress .wordpress-info .wordpress-buttons {
  display: flex;
  column-gap: 1rem;
}
.mobile .mobile-info .mobile-buttons a,
.wordpress .wordpress-info .wordpress-buttons a {
  background-color: var(--primary-color);
  font-size: 20px;
  padding: 0.25rem 2rem;
  color: var(--white-color);
  /* font-weight: var(--font-semi-bold); */
  /* border-radius: 10px; */
  position: relative;
  transition: all 0.4s;
}
.mobile .mobile-info .mobile-buttons a:hover,
.wordpress .wordpress-info .wordpress-buttons a:hover {
  background-color: #034566;
}

/*============================== COUNTER FORMATTING===========================*/
.counter {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
.counter .counter-header h3 {
  font-size: 20px;
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}
.counter .counter-header h1 {
  font-size: 62px;
  line-height: 60px;
  color: var(--black-color);
}
.counter-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 2rem 2rem;
  gap: 2rem;
  margin-top: 6rem;
}

.counter-card {
  background-color: transparent;
}
.card-icon {
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}
.card-icon-holder {
  display: flex;
  justify-content: center;
  place-items: center;
  top: -50%;
  color: var(--white-color);
  font-size: 30px;
  width: 100px;
  height: 100px;
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  border-radius: 50%;
  margin-bottom: 2rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 1rem;
}
.counter-number {
  font-size: 40px;
  font-weight: 1000;
  opacity: 0.8;
}

/*======================= TESTIMONIAL FORMATTING ==========================*/
.testimonials {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 3rem 3rem;
}
.testimonials .testimonial-header h3 {
  font-size: 20px;
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}
.testimonials .testimonial-header h1 {
  font-size: 62px;
  line-height: 60px;
  color: var(--white-color);
  margin-bottom: 2rem;
}

.text-holder {
  position: relative; /* Ensure relative positioning for absolute positioning of arrows */
}

.custom-prev-arrow,
.custom-next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent; /* Remove default button styles */
  border: none;
  cursor: pointer;
  font-size: 24px; /* Adjust the font size as needed */
  color: #333; /* Adjust the color as needed */
}

.custom-prev-arrow {
  left: -2rem;
}

.custom-next-arrow {
  right: -2rem;
}

.testimonials {
  overflow: hidden; /* Hide overflow to prevent arrows from being cut off */
}

.testimonial-card {
  max-width: 350px;
  min-height: 320px;
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.testimonial-text p {
  font-size: 20px;
  color: var(--text-color);
}
.testimonial-icon {
  position: relative;
  height: 20px;
}
.testimonial-icon img {
  height: 80px;
  position: absolute;
  right: -2rem;
  top: 0;
  transform: translateY(-1rem);
}
.testimonial-client {
  position: absolute;
  display: flex;
  column-gap: 1rem;
  width: 100%;
  bottom: 10px;
}
.testimonial-client .client-image img {
  border-radius: 50%;
  height: 50px;
}
.testimonial-client .client-info h1 {
  font-size: 20px;
}
.custom-prev-arrow {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}
.custom-next-arrow {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}
.custom-dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
.custom-dot.slick-active {
  background-color: #cccccc;
}


/*============================== FOOTER FORMATING ===================================*/

.footer {
  width: 100%;
  padding-top: 6rem;
  padding: 6rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  background-image: url(../Assets/footer/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.quick-info {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1.5fr;
  gap: 1rem;
  margin-top: 4rem;
}
.logo-recap {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.logo-recap .footer-socials {
  display: flex;
  column-gap: 1rem;
}
.logo-recap .footer-socials i {
  border: 2px solid var(--white-color);
  padding: 10px;
  border-radius: 50%;
}
.quick-links {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  /* column-gap: 1.5rem; */
  row-gap: 1rem;
  margin-top: 2rem;
}
.quick-links h1 {
  font-size: 20px;
  margin-bottom: 1rem;
  color: var(--white-color);
}
.quick-links ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.quick-links ul li a {
  font-size: 16px;
  display: flex;
  column-gap: 10px;
}
.blog {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.blog h1 {
  font-size: 20px;
}
.blog .blog-element {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
}
.blog .blog-element img {
  max-width: 150px;
}
.blog .blog-element h3 {
  color: var(--white-color);
  font-weight: 400;
}
.newsletter {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.newsletter h1 {
  font-size: 20px;
}
.newsletter .footer-input {
  padding: 20px 10px;
  justify-content: space-between;
  display: inline-block;
}

.newsletter .footer-input input {
  border-bottom: 2px solid var(--secondary-color);
  height: 3rem;
  padding: 10px 20px;
  margin-bottom: 2rem;
}
.newsletter .footer-input input::placeholder {
  color: var(--text-color);
}
.newsletter .footer-input a {
  background-color: var(--white-color);
  padding: 5px 10px;
  color: var(--black-color);
  font-size: 20px;
  font-weight: var(--font-semi-bold);
  border-radius: 10px;
  text-align: center;
}







/*============================ NOTIFICATION FORMATING =======================*/

.notification {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateY(800%) translateX(40px) rotate(90deg);
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px;
  opacity: .5;
  white-space: nowrap;
  z-index: 999;
}
.notification:hover{
  opacity: 1;
}
.notication-div {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  max-width: 200px;
  min-height: 200px;
  transform: translateY(150%) translateX(100%);
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 10px;
  opacity: 0;
  border-radius: 10px;
  z-index: 999;
  transition: all .4s ease-in-out;
}
.notication-div span {
  color: aqua;
  font-weight: var(--font-semi-bold);
}

.notication-div.visible-div{
  opacity: 1;
  transform: translateY(150%) translateX(-45%);
}
.notication-div p {
  font-size: 20px;
}
.notication-div .box {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 30%;
  right: -1rem;
  transform: rotate(-45deg);
  border-radius: 0;
  background-color: var(--black-color);
}






/*===================================== SCROLL TO TOP FORMATING ==========================*/

.ScrollToTop{
  position: fixed;
  height: 30px;
  width: 30px;
  right: 2rem;
  bottom: -2rem;
  padding: 10px;
  padding: 2px;
  background-color: var(--black-color);
  color: var(--white-color);
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  place-items: center;
}

.ScrollToTop.visible{
  bottom: 2rem;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: lightblue; /* Set the color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: var(
    --primary-color
  ); /* Set the color of the scrollbar thumb */
  border-radius: 0px; /* Set the border radius of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --secondary-color
  ); /* Set the color of the scrollbar thumb on hover */
}
























/* Mobile Phones (Small Screens) */

@media only screen and (max-width: 640px) {
  body{
      width: 100%;
      overflow-x: hidden;
      z-index: 1;
  }

  /*========================== NAVBAR ==============================*/
  .navbar{
      width: 100%;
      display: flex;
      flex-direction: column;
      place-items: center;
      overflow-x: hidden;
      row-gap: .125rem;
      background-color: var(--primary-color);
      overflow: hidden;
  }
  .nav-socials {
      display: none;
      flex-direction: column;
      padding: .125rem 2rem;
  }
  .primary-info:first-child{
      display: none;
  }
  .nav-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
  }
  .nav-logo img{
    width: 250px;
    display: none; 
  }
  .responsive{
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 100%;
  }
  .responsive .resposniveLogo{
    width: 250px;
  }

  .mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    place-items: center;
    color: var(--white-color);
    font-size: 20px;
    transition: all .4s ease-in-out; 
    /* background-color: red; */
  }
  .responsive .menu {
    z-index: 9999;
  }

  /*========================= HOME ================================*/
  .home-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: -999;
    overflow-x: hidden;
  }
  .hero{
    position: relative;
    z-index: -999;
  }
  .showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
  }
  .home-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
  }
  .discount p{
    font-size: 19px;
    display: flex;
    justify-content: center;
    place-items: center;
  }
  .main-text h1{
    font-size: 50px;
    line-height: 60px;
  }
  .main-text .tagline{
    width: 100%;
    font-size: 15px;
    color: var(--text-color);
  }
  .main-text .typing {
    font-size: 20px;
  }
  .buttons{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    /* padding: .125rem 1rem; */
  }
  .cards{
    width: 100%;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
  }
  .card {
    max-width: 320px;
  }
  

  /*=================================== ABOUT ======================================*/
  .about-us{
    display: flex;
    flex-direction: column;
  }
  .about-info {
    order: -1; 
  }
  .about-info h1{
    font-size: 50px;
    line-height: 50px;
  }
  .about-image img{
    height: auto;
    width: 100%;
  }
  .about-info .about-button {
    display: flex;
    flex-direction: column;
  }
  .about-info .about-button a{
    display: inline-block;
    font-size: 16px;
  }

  /*================================ SERVICES =========================================*/
  .services .service-header h1 {
    font-size: 50px;
  }
  .service-cards {
    grid-template-columns:  1fr;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
  }
  .service-card{
    height: fit-content;
    min-width: 350px;
  }
  .service-buttons{
    display: flex;
    column-gap: 1rem;
  }
  .service-buttons a{
    opacity: 1;
  }


  /*======================================= MOBILE AND WORDPRESSS  ==========================*/
  .mobile,
  .wordpress{
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
    width: 100%;
  }
  .mobile-wordpress {
    /* padding: 0 2rem; */
  }
  .mobile .mobile-info h1,
  .wordpress .wordpress-info h1{
    font-size: 20px;
    min-width: 100%;
    display: inline-block;
    /* color: red; */
    /* background-color: #0084C8; */
  }
  .mobile .mobile-info .quality h2{
    font-size: 15px;
  }
  .wordpress-info h1{
    transform: translateX(-2rem);
  }
  .mobile .mobile-image img,
  .wordpress .wordpress-image img {
    height: auto;
  }
  .mobile-info{
    order: -1;
  }
  .mobile-info .mobile-buttons,
  .wordpress-info .wordpress-buttons {
    display: flex;
    width: 100%;
  }
  .mobile .mobile-info .mobile-buttons a{
    font-size: 14px;
    display: inline-block;
    padding: .125rem .5rem;
  }
  .wordpress .wordpress-info .wordpress-buttons a{
    font-size: 14px;
    display: inline-block;
    padding: .125rem .2rem;
  }


  /*======================================== COUNTER ==================================*/
  .counter .counter-header h1 {
    font-size: 50px;
  }
  .counter-cards {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

   /*======================================== SLIDER ==================================*/
   /* .slick-slide > div {
    margin: 0 10px;
   } */

  /*=========================================== FOOTER =======================*/
  .footer{
    padding-top: 4rem;
  }
  .quick-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*================================== TESTIONIAL ===============================*/
  .testimonials .testimonial-header h1{
    font-size: 40px;
    line-height: 40px;
  }
  .testimonials .testimonial-card {
    height: fit-content;
    min-height: 380px;
  }
  .notification {
    transform: translateY(800%) translateX(40px) rotate(90deg);
    opacity: .4;
  }
  .notification:hover {
    opacity: 1;
  }
}

/* Tablets (Medium Screens) */
@media only screen and (min-width: 640px) and (max-width: 1023px) {
body{
  width: 100%;
  overflow-x: hidden;
}

/*========================== NAVBAR ==============================*/
.navbar{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: .125rem;
  background-color: var(--primary-color);
  overflow: hidden;
  padding: 0 .5rem;
}
.platforms i{
color: var(--white-color);
border: 2px solid var(--white-color)
}

.nav-links{
width: 100%;
display: flex;
justify-content: space-between;
place-items: center;
}
.nav-logo img{
width: 250px;
display: none; 
}
.responsive{
display: block;
display: flex;
justify-content: space-between;
align-items: center;
/* background-color: red; */
width: 100%;
}
.responsive .resposniveLogo{
width: 250px;
}
.links{
display: none;
}

/*========================= HOME ================================*/
.home-container{
display: flex;
flex-direction: column;
width: 100%;
}
.showcase{
display: flex;
flex-direction: column;
padding: 1rem 4rem;
}
.home-info{
display: flex;
flex-direction: column;
justify-content: center;
place-items: center;
}
.discount p{
font-size: 19px;
display: flex;
justify-content: center;
place-items: center;
}
.main-text h1{
font-size: 60px;
line-height: 60px;
}
.main-text br{
display: none;
}
.main-text .tagline{
font-size: 15px;
color: var(--text-color);
}
.main-text .typing {
font-size: 20px;
}
.buttons{
width: 100%;
/* background-color: red; */
display: flex;
justify-content: space-between;
/* padding: .125rem 1rem; */
}
.cards{
width: 100%;
margin: 0 1rem;
display: grid;
grid-template-columns: 1fr 1fr;
}
.card {
max-width: 320px;
}


/*=================================== ABOUT ======================================*/
.about-us{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto auto;
gap: 10px;
}
.about-info {
grid-column: 1 / span 2;
order: -1; 
}
.about-image img{
height: auto;
width: 100%;
}
.about-info .about-button {
display: flex;
/* flex-direction: column; */
}
.about-info .about-button a{
display: inline-block;
font-size: 16px;
}

/*================================ SERVICES =========================================*/
.services .service-header h1 {
font-size: 50px;
}
.service-cards{
  grid-template-columns: repeat(2, 1fr);
}
.service-card{
height: fit-content;
min-width: 350px;
}
.service-buttons{
display: flex;
column-gap: 1rem;
}
.service-buttons a{
opacity: 1;
}


/*======================================= MOBILE AND WORDPRESSS  ==========================*/
.mobile,
.wordpress{
display: flex;
flex-direction: column;
padding: 0 .5rem;
}
.wordpress-info h1{
transform: translateX(-2rem);
}
.mobile .mobile-image img,
.wordpress .wordpress-image img {
height: auto;
}
.mobile-info{
order: -1;
}
.mobile-info .mobile-buttons,
.wordpress-info .wordpress-buttons {
display: flex;
width: 100%;
}
.mobile .mobile-info .mobile-buttons a{
font-size: 16px;
display: inline-block;
padding: .125rem 1rem;
}
.wordpress .wordpress-info .wordpress-buttons a{
font-size: 17px;
display: inline-block;
padding: .125rem .5rem;
}


/*======================================== COUNTER ==================================*/
.counter .counter-header h1 {
font-size: 50px;
}
.counter-cards {
display: grid;
grid-template-columns: 1fr 1fr;
}
.quick-info{
display: grid;
grid-template-columns: 1fr 1fr;
/* place-items: center; */
}
.logo-recap{
grid-column: 1 / span 2;
}
.newsletter {
grid-column: 1 / span 2;
}
.newsletter .footer-input {
display: flex;
justify-content: start;
column-gap: 2rem;
}
.newsletter .footer-input a {
height: 3rem;
border-radius: 0;
}
.footer {
margin-top: 2rem;
}
}
