/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --primary-color: #0084C8;
  --primary-hover: #025a86;
  --secondary-color: #4D4BB8;
  --black-color: #0e232eff;
  --black-color-light: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 95%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: hsl(0, 0%, 87%);
  --container-color: hsl(0, 0%, 83%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "IBM Plex Sans", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: linear-gradient(to bottom, #e0f2f1, #ffffff);
  color: var(--text-color);
  transition: background-color .4s;
}

h1, h2, h3, h4 {
  color: var(--black-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.portfolio {
    margin-top: 2rem;
    width: 100%;
    padding: 1rem 1rem;
}
.project-cards{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 2rem;
}

.project-singel {
  background-color: var(--white-color);
  padding: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  place-items: center;
  column-gap: 4rem;
  max-width: 70%;
  min-height: 400px;
  border-radius: 20px;
}
.project-image {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

.project-image img{
  position: absolute;
  top: 20%;
  left: -9rem;
  transform: translateX(-3rem);
  border-radius: 10px;
  max-height: 250px;
  width: auto;
}

.project-info {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  margin-left: 8rem;
}

.project-info h2 {
  color: var(--primary-color);
  font-size: var(--small-font-size);
  position: relative;
  transform: translateX(1.5rem);
}

.project-info h2::before {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  width: 1.2rem;
  height: 3px;
  transform: translateX(-1.5rem);
} 

.project-info h1 {
  font-size: var(--h2-font-size);
}

.project-info p {
  color: var(--text-color);
  font-size: var(--h3-font-size);
}

.status-info {
  display: flex;
  column-gap: 2rem;
  font-size: var(--small-font-size);
}

.status-info p {
  color: green;
}
.project-info-button {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 .5rem;
}
.project-info-button a {
  background-color: var(--primary-color);
  font-size: var(--h3-font-size);
  padding: .5rem 1rem;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  place-items: center;
  width: max-content;
  column-gap: 1rem;
}

.project-info-button a:hover {
  background-color: var(--primary-hover);
}

.project-socials ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.project-socials ul li a i{
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  place-items: center;
}

.project-socials ul li a i:hover {
  color: var(--black-color-light);
}


@media only screen and (max-width: 640px) {
  .project-cards {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  .project-singel {
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    min-width: 300px;
  }

  .project-info {
    margin: 0;
    justify-content: center;
    place-items: cente;
    margin-top: 1rem;
  }
  .project-image img{
    position: relative;
    left: 0;
    transform: none;
    border-radius: 0;
  }

  .project-socials {
    display: flex;
    justify-content: flex-start;
    /* background-color: aqua; */
    width: 100%;
  }

  .project-socials ul {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    margin-top: 1rem;
    /* background-color: red; */
    width: 100%;
  }
}


@media only screen and (min-width: 640px) and (max-width: 1150px) {
  .project-cards {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  .project-singel {
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    min-width: 300px;
  }

  .project-info {
    margin: 0;
    justify-content: center;
    place-items: cente;
    margin-top: 1rem;
  }
  .project-image img{
    position: relative;
    left: 0;
    transform: none;
    border-radius: 0;
  }

  .project-socials {
    display: flex;
    justify-content: flex-start;
    /* background-color: aqua; */
    width: 100%;
  }

  .project-socials ul {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    margin-top: 1rem;
    /* background-color: red; */
    width: 100%;
  }
}