:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --primary-color: #0084c8;
  --secondary-color: #4d4bb8;
  --black-color: #0e232eff;
  --black-color-light: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 95%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: #fff;
  --container-color: hsl(0, 0%, 83%);
}

  /*=================== RECENT BLOGS FORMATTING =================*/
  .recentBlogs {
    margin: 3rem 0;
    padding: 0 2rem;
  }

  .recentBlogs-header h1{
    color: var(--black-color);
  }

  .recentBlogs-header h3{
    color: var(--primary-color);
  }
  .recentBlogs-card-wrapper {
    display: flex;
    column-gap: 2rem;
    padding: 2rem 0;
  }


  .recent-blog-card-item {
    border: 2px solid rgba(14, 35, 46, 0.274);
    color: var(--white-color);
    width: 400px;
    padding: 1.5rem 1rem;
    box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.2);
  }

  .recent-blog-card-item h3{
    font-size: 14px;
    color: var(--primary-color);
    position: relative;
    transform: translateX(25px);
  }

  .recent-blog-card-item h3::before{
    content: '';
    background-image: linear-gradient(145deg, var(--primary-color), var(--secondary-color));
    height: 2px;
    width: 20px;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateX(-25px);
  }

  .recent-blog-card-item h1{
    font-size: 20px;
    margin: .5rem 0;
    color: rgba(14, 35, 46, 0.753);
    font-weight: var(--font-bold);
  }

  .recent-blog-card-item img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }

  .recent-blog-card-item .post-image-info {
    display: flex;
    padding: .5rem 0rem;
    justify-content: space-between;
  }
  .recent-blog-card-item .post-image-info h4,
  .recent-blog-card-item .post-image-info p{
    /* text-transform: uppercase; */
    color: var(--primary-color);
    font-weight: var(--font-semi-bold);
  }

  .recent-blog-card-item p {
    margin-bottom: 1rem;
    color: var(--text-color);
  }

  @media only screen and (max-width: 760px) {
    .recentBlogs {
      width: 100%;
      margin: 1rem 0;
      padding: 0 .25rem;
    }

    .recentBlogs-card-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .recent-blog-card-item {
      width: 100%;
    }
  
  }
