  /*=============== GOOGLE FONTS ===============*/

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --primary-color: #0084C8;
  --secondary-color: #4D4BB8;
  --black-color: #0e232eff;
  --black-color-light: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 95%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: hsl(0, 0%, 87%);
  --container-color: hsl(0, 0%, 83%);
}
  
  /*==================== STRATERGY SECTION STYLING ==========================*/
  
  .stratergy-stratergy {
    margin: 2rem 0;
  }

  .stratergy-header h3{
    font-size: 18px;
    color: var(--primary-color);
    position: relative;
    width: max-content;
  }
  .stratergy-header h3::before{
    content: '';
    height: 4px;
    width: 20px;
    background: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
    position: absolute;
    left: 0;
    top: 45%;
    transform: translateX(-30px);
  }

  .stratergy-header h2{
    font-size: 40px;
  }

  .stratergy-header h2 span{
    color: var(--secondary-color);
  }

  .stratergy-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }

  .stratergy-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .stratergy-singel {
    display: flex;
    column-gap: 1rem;
  }
  .stratergy-singel .stratergy-icon i{
    font-size: 30px;
    color: var(--primary-color);
    background-color: lightblue;
    padding: 1rem;
  }

  .stratergy-description .stratergy-paragraph p{
    font-size: 14px;
    margin: 0;
  }

  @media screen and (max-width: 480px) {
        /*==================== STRATERGY SECTION STYLING ==========================*/
  .stratergy-content {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  .stratergy-text {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  .seo-pricing {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  .stratergy-header h3{
    transform: translateX(1rem);
  }

  .stratergy-header h2 {
    font-size: 28px;
  }
  }

  @media only screen and (min-width: 640px) and (max-width: 1150px) {
    
  .stratergy-header h2 {
    font-size: 30px;
  }

  .stratergy-text {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  .stratergy-header h2 {
    font-size: 30px;
    margin-top: 2rem;
  }
  }