/*=============== GOOGLE FONTS ===============*/

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #0084C8;
    --second-color: #4D4BB8;
    --black-color: #0e232eff;
    --black-color-light: hsl(0, 0%, 40%);
    --white-color: hsl(0, 0%, 95%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 64%);
    --body-color: hsl(0, 0%, 87%);
    --container-color: hsl(0, 0%, 83%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    /* --body-font: "IBM Plex Sans", sans-serif; */
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1150px) {
    :root {
      --biggest-font-size: 4.5rem;
      --h1-font-size: 3rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    /* font-family: var(--body-font); */
    font-size: var(--normal-font-size);
    background-color: linear-gradient(to bottom, #e0f2f1, #ffffff);
    color: var(--text-color);
    transition: background-color .4s;
  }
  
  h1, h2, h3, h4 {
    color: var(--black-color);
    font-weight: var(--font-bold);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  


/*================================= SEO FORMATING ==================================================*/
  .social {
    background-color: transparent;
  }  

  .social_home {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 3fr 1fr;
    border-bottom: 2px solid rgba(128, 128, 128, .2);
  }

  .social-home-banner {
    background-color: blue;
    grid-column: 1 / span 2;
    min-height: 300px;
    background-image: url(../../marketing/banner-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }
  .social-home-banner::before {
    content: '';
    position: absolute;
    background-color: var(--second-color);
    height: 100%;
    width: 100%;
    opacity: .5;
    z-index: 1;
  }
  
  .marketing-image {
    margin: 1rem 0rem;
    position: relative;
  }

  .statistics-section{
    /* background-color: red; */
    padding: 0;
  }


  .marketing-cards{
    transform: translateY(-3rem);
  }

/*================================ RESPONSIVE ===========================*/
@media only screen and (max-width: 640px) {
  /* Marketing Pricing */
  .marketing-pricing {
    margin: 0.5rem 0;
  }

  .marketing-cards{
    transform: translateY(-1rem);
  }

}






